{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/forbid-prop-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
