@import url(https://fonts.googleapis.com/css?family=Montserrat:700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$fullLength: 100%;
$notFoundColor: #1abecb;
$white: #ffffff;
$milk: #fffaf0;
$homeblue: #00bfff;
$black: #000000;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
