@import './base';

@mixin button-colors($back, $text) {
  background-color: $back;
  color: $text;
}

.hpg {
  background: url("../images/colleagues-1437.jpg");
  background-size: cover;
  background-position: top;
  width: $fullLength;
  height: 100vh;
  position: relative;
  transition: all 0.2s ease-in;

  .header_container {
    display: flex;
  }

  header {
    width: $fullLength;
  	height: 20rem;
  	text-align: center;
  	position: relative;
  }

  .header_div {
    padding: 3rem;
  	color: $white;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
  	font-weight: bolder;
  	margin-top: 5rem;
  	margin-bottom: 3rem;
  	color: $milk;
  	text-shadow: 0.1rem 0.1rem 0.1rem #333333;
  }

  .link-style {
    text-decoration: none;
  }

  .details {
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 2.5rem;
      font-weight: bolder;
      color: $milk;
    }
    button {
      width: 15%;
      margin-top: 2rem;
      font-family: inherit;
      outline: none;
      border: none;
      padding: 0.5rem 1.5rem;
      font-size: 2rem;
      font-weight: 400;
      border-radius: 0.3rem;
      box-shadow: 0 0 1rem rgba(51, 51, 51, 0.4);
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
      @include button-colors($homeblue, $white);

      &:hover {
        @include button-colors($white, $homeblue);
        cursor: pointer;
      }
    }
  }

  footer {
    position: fixed;
    left: 50%;
    bottom: 0;
    height: 4rem;
    padding: 1rem 1rem;
  	text-align: center;
    font-weight: bolder;
  	font-size: 2.5rem;
    transform: translate(-50%, 0);
    @include button-colors($white, $homeblue);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media(max-width:768px) {
  .hpg {
    .header_div {
      padding: 1rem;
    }

    h1 {
      color: $milk;
    }

    .details {
      p {
        color: $milk;
      }
      button {
        @include button-colors($homeblue, $white);
        width: 40%;

        &:hover {
          @include button-colors($white, $homeblue);
        }
      }
    }

    footer {
      width: 100%;
    }
  }
}
