@import './base';

.qpg {
  background: url("../images/white1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  transition: all 0.2s ease-in;
}

.qpg header {
  display: flex;
  justify-content: center;
  background: #00bfff;
  margin: auto auto;
  width: 80%;
  color: #fffaf0;
}

.qpg .header_container h1 {
  font-size: 3.0em;
}

.qpg .add {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background: #fffaf0;
}

.qpg .add img {
  border: 1px solid $white;
  height: 60px;
  width: 60px;
}

.qpg .add p {
  color: #00bfff;
  padding: 10px 20px;
  font-size: 2.0em;
}

.qpg .add button:hover {
  background: #00bfff;
  cursor: pointer;
}

.qpg main {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.qpg main > p {
  background: #00bfff;
  text-align: center;
  font-family: Tahoma;
  font-size: 1.5em;
  font-weight: bold;
  color: $white;
}

.qpg .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #00bfff;
}

.qpg .questions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
}

.qpg .questions p {
  background: $white;
  line-height: 0.7;
  font-family: Tahoma;
  font-size: 1.2em;
  padding: 10px 20px;
  color: #00bfff;
}

.qpg span {
  font-weight: bold;
}

.qpg .actions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #00bfff;
}

.qpg .actions img {
  padding-top: 5px;
  padding-left: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.qpg .actions img:hover {
  opacity: 0.6;
}

.qpg .actions span {
  color: $white;
  font-family: Tahoma;
  font-size: 1.2em;
  padding-top: 10px;
  padding-left: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal_content {
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.close_btn {
  background: #00bfff;
  color: $white;
  float: right;
  font-size: 30px;
  font-weight: bolder;
  width: 50px;
  text-align: center;
}

.close_btn:hover, .close_btn:focus {
  background: $white;
  color: #00bfff;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.create_form {
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", serif;
}

.create_form fieldset{
	border: none;
}

.create_form legend {
	font-size: 1.4em;
	margin-bottom: 10px;
  margin-left: 30%;
  color: #00bfff;
}

.create_form input[type="text"], textarea {
	font-family: Georgia, "Times New Roman", serif;
	background: rgba(255,255,255,0.1);
	border: none;
	border-radius: 4px;
	font-size: 20px;
	margin: 0;
	outline: 0;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:$black;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

textarea:focus {
	background: #d2d9dd;
}

.create_form input[type="submit"] {
	position: relative;
	display: block;
	padding: 10px 20px 10px 20px;
	color: $white;
	margin: 0 auto;
	background: #00bfff;
	font-size: 20px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid $white;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.create_form input[type="submit"]:hover {
	background: $white;
  color: #00bfff;
  cursor: pointer;
}

.footer {
  height:30px;
  margin-top: 40px;
  background:#f4f4f4;
}

.home {
  position: absolute;
  width: 150px;
  margin-top: 5px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  color: white;
  background: #00bfff;
  text-decoration: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  transition: all 0.15s ease-in-out;
}

.home:hover {
  background: $white;
  color: #00bfff;
  cursor: pointer;
}

@media (max-width:600px) {
  .header_container h1 {
    text-align: center;
  }
  main {
    width: 90%;
  }
  .actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  textarea {
    width:180px;
  }
}
