.spinner {
  height: 25px;
  position: relative;
  margin-top: 20px;
  display: inline;
}

.spinner::before {
  position: absolute;
  border: 3px solid #eeeeee;
  content: '';
  width: 30px;
  height: 25px;
  left: 50%;
  top: 10%;
  border-radius: 50%;
  border-bottom-color: blue;
  animation: 2s linear infinite spinner;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
